#progress-wrapper {
  width: 75px;
  border: #000000 solid 1px;
  border-radius: 5px;

  background: #fff;
  margin-left: 766px;
  margin-top: 50px;
  box-shadow: 0 0 10px #777;
  padding: 25px;
  z-index: 999;
  display: inline-block;

  text-align: center;
}

#progress-keeper {
  width: 0px;
  height: 0px;
  margin: auto;
  overflow: visible;
  z-index: 999;
}

#title-box {
  margin-bottom: 10px;
}

#progress-table {
  margin: 0 auto;
}

.game {
  background-color: #E195E2;
}

.cursor {
  background-color: #FC5D5D;
}

.chapter-cell {
  border-radius: 8px;
  padding: 2px;
}
