html {
  background-color: #F7F1E8;
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;/* kerning, primarily */
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  margin: 0 !important;
}

.center {
  text-align: center;
}

#content {
  text-align: left;
  z-index: 0;
  width: 700px;
  border-style: none;
  border-color: transparent;
  background-color: #FFFFFF;
  margin: 20px auto;
  padding: 10px 150px;
  font-family: Georgia, sans-serif;
}

/* Header Stuff */

.header {
    background: -webkit-gradient(linear, left center, right center, from(#83272D),color-stop(100%, #F12300));
    background: -webkit-linear-gradient(left,#83272D ,#F12300 100%);
    background: linear-gradient(to right,#83272D ,#F12300 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF83272D, endColorstr=#FFF12300, GradientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF83272D', endColorstr='#FFF12300', GradientType=1)";
    border-style: none;
    border-color: transparent;
}

.reading-header {
  height: 75px;
  background-size: 100% auto;
}

.main-header {
  height: 116px;
  max-width: 600px;
  display: inline-block;
}

.header-container {
  max-width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.headerimage {
  display: inline-block;
}

.header-select {
  float: left;
  vertical-align: bottom;
  margin: 20px 110px 0px 50px;
  display: inline-block;
}

.menuitem {
    text-decoration: none;
    margin-bottom: 15px;
}

.menuitem-container {
  width: 77px;
  min-height: 24px;
  top: 5px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  line-height: 24px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: english, serif;
  font-weight: 400;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;

}

.menuitem-label {
  line-height: 24px;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  font-family: english, serif;
  font-weight: 400;
}

.submenu {
  position: absolute;
    left: 200px;
    top: 75px;
  background-color: #ffffff;
  width: 185px;
  border-radius: 10px;
  border: 2px #D90000 solid;
  opacity: 0.95;
}

.submenu-label {
  color: #2f313e;
}

.submenu-label:hover {
  color: #a50000 !important;
}

.submenu-item {
  display: block !important;
}

.read-hover:hover {
  color: #ffe2e2;
}

#headerwords {
  display: inline-block;
  max-height: 65px;
}

/******/


.left {
  float: left;
  margin-right: 20px;
}

.right {
  float: right;
  margin-left: 20px;
}

.profile {
  vertical-align: top;
}

.chapter {
  color: #534741;
  font-family: Georgia, serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
}

#footer-icons, #footer-copyright {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.story-image {
  margin: 20px 0;
}

@media screen and (max-width: 500px) {
  #headerwords {
    display: none;
  }

  #content {
    padding: 15px 50px;

  }
}
